{% extends 'base.html.twig' %}

{% block title %}Opérations mensuelles{% endblock %}

{% block actions %}
    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="bottom" title="Créer opération mensuelle">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">
            <i class="bi bi-plus"></i>
        </button>
    </div>
    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="bottom" title="Filtrer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal">
            <i class="bi bi-funnel"></i>
        </button>
    </div>
{% endblock %}

{% block body %}
    {% embed 'pager.html.twig' %}{% endembed %}
    <div class="col-12 table-responsive">
        <table class="table table-striped table-hover w-auto mx-auto">
            <thead class="thead-light">
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, "Jour de l'occurrence", 'mt.day') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Libellé', 'mt.description') }}
                </th>
                <th>Valeur</th>
            </tr>
            </thead>
            <tbody>
            {% for monthlyTransaction in pagination %}
                {# @var \App\Entity\MonthlyTransaction monthlyTransaction #}
                <tr>
                    <td>{{ monthlyTransaction.day }} du mois</td>
                    <td>
                        <a href="{{ path('monthly_transaction_edit', {'id': monthlyTransaction.id}) }}">
                            {{ monthlyTransaction.description }}
                        </a>
                    </td>
                    {% if monthlyTransaction.type == 0 %}
                        <td class="text-danger text-nowrap">
                            - {{ monthlyTransaction.value | format_number({fraction_digit: 2}) }} €
                        </td>
                    {% else %}
                        <td class="text-success text-nowrap">
                            + {{ monthlyTransaction.value | format_number({fraction_digit: 2}) }} €
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% embed 'pager.html.twig' %}{% endembed %}

    {# Modal de création d'opération #}
    {% embed 'modals/generic.html.twig' %}
        {% block modalId %}createModal{% endblock %}
        {% block modalHeader %}
            <h4 class="modal-title">Créer une nouvelle opération mensuelle</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        {% endblock %}
        {% block modalBody %}
            {{ form(newMonthlyTransactionForm) }}
        {% endblock %}
        {% block modalFooter %}
            <button type="button" class="btn btn-light" data-dismiss="modal">
                <i class="bi bi-arrow-left"></i> Retour
            </button>
        {% endblock %}
    {% endembed %}

    {# Modal de filtrage #}
    {% embed 'modals/filter.html.twig' %}
        {% block filterModalId %}filterModal{% endblock %}
        {% block filterModalBody %}
            {{ form_start(filterForm) }}
            <div class="form-group">
                <label>Jour de l'occurrence</label>
                <div class="row">
                    <div class="col-6">
                        <label>Entre le</label>
                    </div>
                    <div class="col-6">
                        <label>et le</label>
                    </div>
                    <div class="col-6">
                        {{ form_widget(filterForm.dayFrom) }}
                        {{ form_errors(filterForm.dayFrom) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(filterForm.dayTo) }}
                        {{ form_errors(filterForm.dayTo) }}
                    </div>
                </div>
            </div>
            {{ form_row(filterForm.description) }}
            {{ form_row(filterForm.type) }}
            <div class="form-group">
                <label>Valeur de l'opération</label>
                <div class="row">
                    <div class="col-6">
                        <label>Entre</label>
                    </div>
                    <div class="col-6">
                        <label>et</label>
                    </div>
                    <div class="col-6">
                        {{ form_widget(filterForm.valueFrom) }}
                        {{ form_errors(filterForm.valueFrom) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(filterForm.valueTo) }}
                        {{ form_errors(filterForm.valueTo) }}
                    </div>
                </div>
            </div>
            {{ form_rest(filterForm) }}
            {{ form_end(filterForm) }}
        {% endblock %}
        {% block filterModalCancelPath %}{{ path('monthly_transaction_list', {'account': account.id}) }}{% endblock %}
    {% endembed %}
{% endblock %}