<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    <link rel="icon" type="image/png" href="{{ asset('img/winupdater_logo_100px.png') }}">#}
    <!-- CSS ici -->
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    <!-- ------- -->
    <title>💸 KorExpenses | Connexion</title>
</head>
<body>
<div class="d-flex align-items-center min-vh-100">
    <div class="container col-12 col-md-8 px-0 px-md-3">
        <div class="title-block">
            <h4>Connexion</h4>
        </div>
        <div class="content">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h5>Bienvenue sur KorExpenses ! Veuillez vous connecter.</h5>
            <hr />
            <div class="col-12 mx-auto">
                {% form_theme loginForm 'form/bootstrap_4_horizontal_layout.html.twig' %}
                {{ form(loginForm) }}
            </div>
        </div>
    </div>
</div>
<!-- Javascript ici -->
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
<!-- -------------- -->
</body>
</html>
