{% extends 'base.html.twig' %}

{% block title %}Opérations / Filtre{% endblock %}

{% block actions %}
    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="bottom" title="Créer opération">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">
            <i class="bi bi-plus"></i>
        </button>
    </div>
    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="bottom" title="Filtrer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal">
            <i class="bi bi-funnel"></i>
        </button>
    </div>
    <div class="btn-group" role="group" data-toggle="tooltip" data-placement="bottom" title="Sélectionner un mois">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#monthSelectorModal">
            <i class="bi bi-calendar"></i>
        </button>
    </div>
{% endblock %}

{% block body %}
    {% embed "pager.html.twig" %}{% endembed %}
    {% for year, yearTransactions in groupedTransactions %}
        <h4>{{ year }}</h4>
        <hr />
        {% for month, monthTransactions in yearTransactions %}
            {% set monthToDatetime = "1970-" ~ month ~ "-01" %}
            <h5>{{ monthToDatetime | format_datetime(pattern='MMMM', locale='fr') | capitalize }}</h5>
            <hr />
            {% for transaction in monthTransactions %}
                {# @var \App\Entity\Transaction transaction #}
                {% if transaction.type == 0 %}
                    {% set card_class = 'bg-danger' %}
                    {% set value = "- " ~ transaction.value ~ " €"%}
                {% else %}
                    {% set card_class = 'bg-success' %}
                    {% set value = "+ " ~ transaction.value ~ " €" %}
                {% endif %}
                <div class="col-12 col-md-4 mx-auto mb-2">
                    <div class="card {{ card_class }} text-white">
                        <h5 class="card-header">{{ transaction.date | date('d/m/y') }}</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="card-text col-6">
                                    <a
                                            href="{{ path('transaction_edit', {'id': transaction.id}) }}"
                                            class="text-white"
                                    >
                                        {{ transaction.description }}
                                    </a>
                                </div>
                                <div class="card-text col-6 text-right">{{ value }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% embed "pager.html.twig" %}{% endembed %}

    {# Modal de création d'opération #}
    {% embed 'modals/generic.html.twig' %}
        {% block modalId %}createModal{% endblock %}
        {% block modalHeader %}
            <h4 class="modal-title">Créer une nouvelle opération</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        {% endblock %}
        {% block modalBody %}
            {{ form(newTransactionForm) }}
        {% endblock %}
        {% block modalFooter %}
            <button type="button" class="btn btn-light" data-dismiss="modal">
                <i class="bi bi-arrow-left"></i> Retour
            </button>
        {% endblock %}
    {% endembed %}

    {# Modal de filtrage #}
    {% embed 'modals/filter.html.twig' %}
        {% block filterModalId %}filterModal{% endblock %}
        {% block filterModalBody %}
            {{ form_start(filterForm) }}
            <div class="form-group">
                <label>Date de l'opération</label>
                <div class="row">
                    <div class="col-6">
                        <label>Entre le</label>
                    </div>
                    <div class="col-6">
                        <label>et le</label>
                    </div>
                    <div class="col-6">
                        {{ form_widget(filterForm.dateFrom) }}
                        {{ form_errors(filterForm.dateFrom) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(filterForm.dateTo) }}
                        {{ form_errors(filterForm.dateTo) }}
                    </div>
                </div>
            </div>
            {{ form_row(filterForm.description) }}
            {{ form_row(filterForm.type) }}
            <div class="form-group">
                <label>Valeur de l'opération</label>
                <div class="row">
                    <div class="col-6">
                        <label>Entre</label>
                    </div>
                    <div class="col-6">
                        <label>et</label>
                    </div>
                    <div class="col-6">
                        {{ form_widget(filterForm.valueFrom) }}
                        {{ form_errors(filterForm.valueFrom) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(filterForm.valueTo) }}
                        {{ form_errors(filterForm.valueTo) }}
                    </div>
                </div>
            </div>
            {{ form_rest(filterForm) }}
            {{ form_end(filterForm) }}
        {% endblock %}
        {% block filterModalCancelPath %}
            {{ path('transaction_list', {
                'account': account.id,
                'year': 'now' | date('Y'),
                'month': 'now' | date('m')
            }) }}
        {% endblock %}
    {% endembed %}

    {# Modal de sélection de mois #}
    {% embed 'modals/generic.html.twig' %}
        {% block modalId %}monthSelectorModal{% endblock %}
        {% block modalHeader %}
            <h4 class="modal-title">Changer de mois</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        {% endblock %}
        {% block modalBody %}
            <form name="date_selector" onSubmit="return redirectToListMonth();">
                <div id="date_selector">
                    <div class="form-group">
                        <input
                            type="date"
                            id="date_selector_date"
                            name="date_selector[date]"
                            required="required"
                            class="form-control"
                        >
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button
                                type="submit"
                                id="date_selector_submit"
                                name="date_selector[submit]"
                                class="btn-success btn"
                            >
                                Valider
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        {% endblock %}
        {% block modalFooter %}
            <button type="button" class="btn btn-light" data-dismiss="modal">
                <i class="bi bi-arrow-left"></i> Retour
            </button>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    <script>
        function redirectToListMonth() {
            // Générer l'URL qui sera modifiée
            let url = "{{ path('transaction_list', {
                'account': account.id,
                'year': 1970,
                'month': '01'
            }) }}";
            // Récupérer et splitter la valeur du champ date
            // monthSelection = [
            //     0 => 'année',
            //     1 => 'mois',
            //     2 => 'jour'
            // ]
            let monthSelection = document.getElementById('date_selector_date').value.split('-');

            // Modification de l'URL avec le mois et l'année choisis
            url = url.replace('1970/01', monthSelection[0] + '/' + monthSelection[1])

            // Redirection
            window.location.href = url;

            // Ne pas soumettre le formulaire
            return false;
        }
    </script>
{% endblock %}