{% extends 'base.html.twig' %}

{% block title %}Opérations{% endblock %}

{% block body %}
    <div class="col-12 table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Libellé</th>
                    <th>Débit</th>
                    <th>Crédit</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
            {# @var \App\Entity\Transaction transaction #}
                <tr>
                    <td>{{ transaction.date | date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('transaction_edit', {'id': transaction.id}) }}">
                            {{ transaction.description }}
                        </a>
                    </td>
                    <td class="text-danger">
                        {% if transaction.type == 0 %}
                            {{ transaction.value }} €
                        {% endif %}
                    </td>
                    <td class="text-success">
                        {% if transaction.type == 1 %}
                            {{ transaction.value }} €
                        {% endif %}
                    </td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
                <tr>
                {{ form_start(newTransactionForm) }}
                    <td>
                        {{ form_widget(newTransactionForm.date) }}
                        {{ form_errors(newTransactionForm.date) }}
                    </td>
                    <td>
                        {{ form_widget(newTransactionForm.description) }}
                        {{ form_errors(newTransactionForm.description) }}
                    </td>
                    <td>
                        {{ form_widget(newTransactionForm.debit) }}
                        {{ form_errors(newTransactionForm.debit) }}
                    </td>
                    <td>
                        {{ form_widget(newTransactionForm.credit) }}
                        {{ form_errors(newTransactionForm.credit) }}
                    </td>
                    <td>{{ form_widget(newTransactionForm.submit) }}</td>
                {{ form_end(newTransactionForm) }}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
